@import "tailwindcss";

:root {
  --background: #f8f7f2;
  --primary: #2a3324;
  --accent: #d4a24c;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --font-cormorant: var(--font-cormorant-garamond);
  --font-sans: var(--font-plus-jakarta-sans);
  --text-heading1: 108px;
  --text-heading2: 73ppx;
  --text-body: 32px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-cormorant-garamond);
}
